<div class="post
  {{#if full}}post--full{{/if}}
  {{#if thin}}post--thin{{/if}}
  {{#if vertical}}post--vertical{{/if}}
  {{#if tiny}}post--tiny{{/if}}">


  {{#if vertical}}
    <h3 class="post__title"><a href="{{root}}post-detail-tall.html">{{title}}</a></h3>
    <img src="{{root}}assets/img/1920x1080/{{image-1920x1080}}">
  {{/if}}

  {{> post-information }}

  {{#if vertical}}
    <div class="post__teaser">
      <p>{{{body}}}</p>
    </div>
  {{/if}}

  {{#if full}}
    <div class="post__body">
      <p>{{{body}}}</p>
      <img src="{{root}}assets/img/1920x1080/{{image-1920x1080}}">
      <p>{{{body}}}</p>
      <p>{{{body}}}</p>
      <ul>
        <li>Thingy 1</li>
        <li>Thingy 1</li>
        <li>Thingy 1</li>
        <li>Thingy 1</li>
      </ul>
    </div>

    {{> post-controls}}
  {{/if}}

</div>
