<div class="comment clearfix">
  <div class="comment__container">

    <div class="comment__left">
      <a class="comment__avatar" href="#">
        <img class="thumbnail df-avatar" src="{{root}}assets/img/avatars/{{lookup "users" "name" user "avatar"}}">
      </a>
    </div>

    <div class="comment__right">
      <div class="comment__information">
        <p>
          <span class="comment__author">
            <a href="#">{{lookup "users" "name" user "name"}}</a>
          </span>
          <span>{{timestamp}}</span>
        </p>
      </div>

      <div class="comment__body">
        {{{body}}}
      </div>
      <div class="comment__controls">
        <ul class="menu">
          <li><a href="#"><i aria-hidden="true" class="fi-chat"></i>Reply</a></li>
          <li><a href="#"><i aria-hidden="true" class="fi-pencil"></i>Edit</a></li>
          <li><a href="#"><i aria-hidden="true" class="fi-trash"></i>Delete</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="indented clearfix">
    {{#each replies}}
      {{> comment}}
    {{/each}}
  </div>
</div>