<div class="df-thumb media-thumbnail" href="media-detail-tall.html">
  <a data-open="media-modal-{{@index}}"><img src="{{root}}assets/img/thumbs/{{image-300x300}}" class="thumbnail" alt="Thumbnail"></a>
  {{#if video}}<i aria-hidden="true" class="df-thumb__icon fi-media-play-circle iconic-md"></i>{{/if}}
  <h4 class="df-thumb__text small">{{@index}}{{title}} <br>| <a href="#" class="body-small">Go to image</a></h4>
</div>
<div class="large reveal" id="media-modal-{{@index}}" data-reveal>
  <img src="{{root}}assets/img/1920x1080/kill-1.jpeg">
</div>