<div class="post-information">
  <div class="post-information__left">

    <div class="post__avatar" href="#">
      {{> avatar img=(lookup "users" "name" author "avatar") name=author}}
      <!--<img class="thumbnail df-avatar" src="{{root}}assets/img/avatars/{{avatar}}">-->
    </div>

  </div>
  <div class="post-information__middle">

    {{#unless full}}
      <!-- Only show this title when this is NOT the full page -->
      <h5 class="post__title"><a href="{{root}}post-detail-tall.html">{{title}}</a></h5>
    {{/unless}}

    <p class="post__byline">about 1 hour ago by <a href="#">{{author}}</a></p>
    <div class="post__tags-buttons">
      {{#each tags}}
        <a class="small button hollow {{type}}">{{tag}}</a>
      {{/each}}
    </div>
  </div>
  <div class="post-information__right">
    <div class="post__comment-count text-center">
      <div class="stat">{{stats.comments}}</div>
      <p>Comments</p>
    </div>
    <div class="post__view-count text-center">
      <span>{{stats.views}}</span>
      <p>Views</p>
    </div>
  </div>
</div>